body{
    background: rgb(247, 179, 241);
    height: 100%;
}
  
.wrapper{
width:800px;
margin: 50px auto;
color: #fff;
text-align: center;
}

#clock{
margin: 5% auto;
font-size: 4em;
}

button{
border-radius: 5px;
background: #b3d9ff;
color: #fff;
border: solid 1px #fff;
text-decoration: none;
cursor: pointer;
font-size: 1.2em;
padding: 18px 10px;
width: 180px;
margin: 10px;
outline: none;

}

button:hover{
transition: all 0.5s ease-in-out;
background: #fff;
border: solid 1px #fff;
color: rgb(255, 226, 173);
}