caption{
    font-weight: bold;
    font-size: 20px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    border-collapse: collapse;
}

th {
    background-color: #fff;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;;
}

.container {
    background-color: #000080;
}

.display{
    text-align: center;
    color:#bebbbd;
}

.form {
    display: grid;
    float: left;
    padding: 5px;
    margin: 0px 0px 20px 150px;
}

.search {
    padding: 5px;
    border: 2px solid blue;
    margin-top: 5px;
}


.search {
    float: left;
}

#num-form {
    padding: 120px;
    background-color: #89CFF0;
    border: 2px solid #000080;
}

#num2 {
    float: left;
}

#button {
    height: 25px;
    margin-left: 15px;
}

#error, #name-error, #num-error, #email-error, #noResult, #regex-error {
    display: none;
    color: #FFEA00;
    text-align: center;
    font-size: 25px;
}
