* {
    box-sizing: border-box;
}
/* Search Bar */
.form-control {
    border:solid 1px green;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    display: inline-block;
}
.btn {
    border: solid 1px green;
    height: 22px;
    line-height: 22px;
    vertical-align: middle;
    display: inline-block;
}


/* Table */
.row {
    margin-left: -5px;
    margin-right: -5px;
}

.column {
    float: left;
    width: 50%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

table {
    font-family: arial, sans-serif;
    font-size: 0.8rem;
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
}

th, td {
    text-align: left;
    padding: 16px;
}

th[scope='col'] {
    background-color: #696969;
    color: #fff;
}

th[scope='row'] {
    background-color: #d7d9f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.idk{
    border-bottom: 1px solid #ddd;
}


caption {
    padding: 10px;
    caption-side: bottom;
}

img {
    width: 90%;
    height: 100%;
    padding: 15px;
    margin-left: 30px;
}
