* {
    box-sizing: border-box;
}

h2 {
    text-align: center;
    margin-right: 50px;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

img {
    width: 50%;
    height: auto;
    padding: 5px;
    margin-left: 30%;
    margin-right: 50%;
}

table {
    font-family: arial, sans-serif;
    font-size: 0.8rem;
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    background-color: #fff;
}

th, td {
    text-align: left;
    padding: 10px;
}

th[scope='col'] {
    background-color: #696969;
    color: #fff;
}

th[scope='row'] {
    background-color: #d7d9f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Classes */

.form-control {
    height: 30px;
    width: 40%;
    border: solid 1px rgb(0, 0, 0);
}

/* .btn {
    border: solid 1px rgb(0, 0, 0);
    line-height: 22px;
    border-radius: 25px;
    display: flex;
} */

.btn{
    display: flex;
    margin: auto;
    margin-top: 10px;
    align-items: center;
    width: 70px;
    height: 50px;
    background: #eeec93;
    font-size: 15px;
    cursor: pointer;
}

.row {
    background-color: rgb(244, 161, 161);
    border-radius: 25px;
    padding: 5px;
    width: 50%;
    margin: auto;
}

.column {
    width: 70%;
    padding: 5px;
    display:block;
    margin: auto;
    
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.title{
    border-top: 1px solid black;
}

.tbl1{
    border-top: 1px solid black;
}

/* IDs */

#search{
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 10px;
    width: 40%;
    height: 50px;
    background: #eaeaea;
    border-radius: 6px;
}
